html{
    box-sizing: border-box;
    font-size: 62.5%; /*1REM = 10PX */
}

*, *:before, *:after{
    box-sizing: inherit;
}
h1, h2, h3 {
    font-family: 'Luckiest Guy', cursive !important;
    margin: 0 0 5rem 0;
}

h1{
    font-size: 5rem;
}

h2{
    font-size: 4rem;
    padding-top: 5rem;
}

h3{
    font-size: 3rem;
}

a{
    text-decoration: none;
    color: #000000
}

.btn{
    background-color: rgba(238, 188, 22, 0.776);
    color: white;
    text-transform: uppercase;
    display: block;
    font-weight: 900;
    padding: 1rem;
    transition: background-color .3s ease-out;
    text-align: center;
    border: none;
}

.btn:hover{
    background-color: #854500;
    cursor: pointer;
}

.text-center{
    text-align: center;
}

.max-width-30{
    max-width: 30rem;
}

.container-navegacion{
    border-top: #e1e1e1 solid .1rem;
    background-color: #745296;
    width: 100%;
}

.container{
    max-width: 120rem;
    margin: 0 auto;
}

.nav-principal{
    display: flex;
    justify-content: space-between;
}

.nav-principal a{
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
    padding: 2rem 2rem;
}
.nav-principal a:hover{
    background-color: #5f0079;
}

.nombre-sitio span{
    color: #745296;
}

.nombre-sitio{
    margin-top: 5rem;
    text-align: center;
}

.hero{
    background-image: url('../img/principal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 55rem;
}


.categoria a{
    display: block;
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
}

.categoria a:hover{
    background-color: #745296;
    color: white;
    border-bottom-right-radius: 1rem;
}

.listado-categorias{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

body {
    font-family: 'Handlee', cursive;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2;
}

img{
    max-width: 100%;
    display: block;
}

.sobre-nosotros{
    background-image: linear-gradient( to right, transparent 50%, #745296 50%, #745296 100%), url('../img/nosotros.jpg');
    padding: 10rem 0;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 100%, 75rem;
}

.sobre-nosotros-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 5rem;
}

.texto-nosotros{
    grid-column: 2 / 3;
    color: white;
}

.contenido-principal{
    padding-top: 5rem;
}

.listado-productos{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
}

.producto:nth-child(1){
    grid-column-start: 1;
    grid-column-end: 7;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.producto:nth-child(1) img{
    height: 45rem;
    width: 100%;
    object-fit: cover;
}

.producto:nth-child(2){
    grid-column-start: 1;
    grid-column-end: 4;
}

.producto:nth-child(3){
    grid-column-start: 4;
    grid-column-end: 7;
}

.producto:nth-child(2) img,
.producto:nth-child(3) img{
    height: 30rem;
    width: 100%;
    object-fit: cover;
}

.producto:nth-child(4){
    grid-column-start: 1;
    grid-column-end: 3;
}
.producto:nth-child(5){
    grid-column-start: 3;
    grid-column-end: 5;
}
.producto:nth-child(6){
    grid-column-start: 5;
    grid-column-end: 7;
}

.producto{
    background-color: #745296;
}

.texto-producto{
    text-align: center;
    color: white;
    padding: 2rem;
}

.texto-producto h3{
    margin: 0;
}

.texto-producto p{
    margin: 0 0 .5rem;
}

.texto-producto .precio{
    font-size: 2.8rem;
    font-weight: 900;
}

.site-footer{
    border-top: 1px solid #e1e1e1;
    margin-top: 5rem;
}

.site-footer h3{
    margin-bottom: .5rem;
}

.grid-footer{
    display: flex;
    gap: 2rem;
}

.grid-footer div{
    flex: 1;
}

.footer-menu a{
    display: block;
}

.copyright{
    text-align: center;
    margin-top: 5rem;
    color: blue;
}

.contenido-nosotros{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-columns: repeat(auto-fit, minmax( 25rem, 1fr ));
    column-gap: 4rem;
}

.informacion-nosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* Blog */
.contenedor-blog{
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 4rem;
}

.entrada{
    border-bottom: 2px solid #e1e1e1;
    margin-bottom: 2rem;
}

.entrada:last-of-type{
    border: none;
}

.entrada h2{
    padding-top: 0rem;
}

.entrada-meta{
    display: flex;
    justify-content: space-between;
}

.entrada-meta span{
    color: #745296;
}
.entrada-meta p{
    font-weight: 700;
    text-decoration: underline;
}

.contenido-entrada-blog{
    width: 60rem;
    margin: 0 auto;
}

/* galería */

.galeria{
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.galeria img{
    height: 40rem;
    width: 40rem;
    object-fit: cover;
}

.galeria li {
    transition: all .4s ease;
}

.galeria li:hover {
    transform: scale(1.06)
}

/* Formulario */
.formulario{
    max-width: 60rem;
    margin: 0 auto;
}

.formulario fieldset{
    border: 1px solid black;
    margin-bottom: 2rem;
}

.formulario legend{
    background-color: #745296;
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem;
    margin-bottom: 4rem;
}

.campo{
    display: flex;
    margin-bottom: 2rem;
}

.campo label{
    flex-basis: 10rem;
}

.campo input:not([type="radio"]),
.campo select,
.campo textarea{
    flex: 1;
    padding: 1rem;
    border: 1px solid #e1e1e1;
}